:root {
    --primary: #478635;
    --secondary: #406F33;
    --main-container: #C2C2C2;
    --background: #fafafa;
    --table-header-background: #efefef;
    --table: #525252;
    --table-scroll: #949292;
    --hover: #f5f5f5;
    --popup-background: #999999;
    --overlay: rgba(0, 0, 0, 0.5);
    --text: #b3b3b3;
    --text-darker: #555555;
    --warning: rgba(204, 51, 0, 0.7)
}